
.bgfooter {
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.rosado {
    background-color: #B55BED;
}

.navbar a{
    font-family: 'Quicksand', sans-serif !important;
}

.header-section {
    background-image: url(../img/hero-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 45rem;
}


h1 {
    font-family: 'Oleo Script', cursive;
}

p, h3 {
    font-family: 'Quicksand', sans-serif;
}

.espacio {
    height: 2rem;
}

.align-abajo {
    padding-top: 450px;
}

.text-color {
    color: #B55BED;
}