
.bgfooter {
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.rosado {
    background-color: #B55BED;
}

.navbar a{
    font-family: 'Quicksand', sans-serif !important;
}

.header-section {
    background-image: url(../img/hero-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 45rem;
}


h1 {
    font-family: 'Oleo Script', cursive;
}

p, h3 {
    font-family: 'Quicksand', sans-serif;
}

.espacio {
    height: 2rem;
}

.align-abajo {
    padding-top: 440px;
}

.color-rosa {
    color: #B55BED;
}

.color-azul {
    color: #16A4A8;
}

.color-gris {
    color: #5E7172;
}

.bg-azul{
    background-color: #16A4A8;
}

.bg-rosa {
    background-color: #B55BED;
}

.experiencia-bg {
    background-color: #F4F2F7;
}

h5 {
    font-family: 'Quicksand', sans-serif;
}