
.bgfooter {
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.rosado {
    background-color: #B55BED;
}

.navbar a{
    font-family: 'Quicksand', sans-serif !important;
}

.header-section {
    background-image: url(../img/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50rem;
}


h1 {
    font-family: 'Oleo Script', cursive;
}

p, h3 {
    font-family: 'Quicksand', sans-serif;
}

.espacio {
    height: 4rem;
}